/.repository/
/.m2/
bin/
target/
build/
xtend-gen/
.gradle/
.idea/
META-INF/
org.eclipse.buildship.core.prefs
org.eclipse.jdt.core.prefs
org.eclipse.xtext.java.Java.prefs
org.eclipse.xtend.core.Xtend.prefs
*.class
*._trace
*.xtendbin
.classpath
.project
