<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.8"?>
<target name="org.eclipse.xtext.helios.target" sequenceNumber="0">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2021-03"/>
			<unit id="com.google.gson" version="2.8.6.v20201231-1626"/>
			<unit id="com.google.gson.source" version="2.8.6.v20201231-1626"/>
			<unit id="com.google.guava" version="30.1.0.v20210127-2300"/>
			<unit id="com.google.guava.source" version="30.1.0.v20210127-2300"/>
			<unit id="jakarta.websocket" version="0.0.0"/>
			<unit id="jakarta.websocket.source" version="0.0.0"/>
			<unit id="javax.websocket" version="0.0.0"/>
			<unit id="javax.websocket.source" version="0.0.0"/>
		</location>
	</locations>
</target>
